@import"./base/variables";
@import "./base/listas";
@import "./base/maps"; 
@import "./base/extend";
@import "./base/mixin";
@import "./componentes/main";


html{
    font-size: nth($size, 1);
    background-color: $bg-blanco;
}

*{
    margin: nth($size, 2);
    padding: nth($size, 2);
    box-sizing: border-box;
}

.navClass{
    a{
    color: nth($colores, 1);
    font-size: nth($size, 3);
    margin: 2px;
    }
    a:hover{
        color: nth($colores, 2);
    }
}

.navbar-collapse{
    flex-grow: 0;
}

.menuHamburguesa{
    background-color: $bg-rojo; 
}

h1{
    @include titulos;
}

.graciasPorVisitarnos{
    p{
        @extend %disposicion;
        @extend %color;
    }
}

h2{
   @include titulos;
}

.quienesSomos{
    font-family: 'Times New Roman', Times, serif;
    font-size: nth($size, 4);
    color: nth($colores, 2);
    text-align: justify;
}

.col-md-6{
    font-size: nth($size, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: nth($colores, 2);
}

hr{
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.column2{
    ul{
        li{
            display: map-get($footer, display-footer);
            font-size: nth($size, 8);
            list-style: map-get($footer, list-style-footer);
            align-items: map-get($footer, align-items-footer);
            padding: map-get($footer, padding-footer);
        }
    }
}

.column3{
    ul{
        li{
            font-size: nth($size, 8);
            font-family: 'Times New Roman', Times, serif;
            color: nth($colores, 2);
            list-style: map-get($footer, list-style-footer);
            text-align: map-get($footer, text-align-footer);
        }
    }
}